body{background:linear-gradient(
        0.47deg,
        rgba(0, 136, 255, 0.2) 0.39%,
        rgba(220, 230, 239, 0.2) 99.58%
      ),
      linear-gradient(0deg, #dce6ef, #dce6ef)}main.svelte-oagy4v{text-align:center;padding:1em;max-width:240px;margin:0 auto}@media(min-width: 640px){main.svelte-oagy4v{max-width:none}}header.svelte-el9ppv{display:flex;align-items:center}img.svelte-el9ppv{margin:1rem}img.svelte-el9ppv:last-of-type{margin-left:auto;width:250px}